
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finish</title>
    <p>Total score = @ViewBag.TotalScore</p>
</head>
<body>
</body>
</html>
