@using System.Threading
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ExamUser> SignInManager
@inject UserManager<ExamUser> UserManager

@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Burada daxili qaydalarla tanış ola bilərsiniz</p>


